extends layout

block content
    form.form-signin
        h2.form-signin-heading Login
        label.sr-only(for='inputEmail') Email Adresse
        input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')
        label.sr-only(for='inputPassword') Passwort
        input#inputPassword.form-control(type='password', placeholder='Passwort', required='')
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
