extends layout

block content
    div.main-login-main-center
        form.form-horizontal(method='post', action='/login')
            .form-group
                label.cols-sm-2.control-label(for='username') Benutzername
                .cols-sm-10
                    .input-group
                        span.input-group-addon
                        input#username.form-control(type='text', name='username', placeholder='Gib deinen Benutzernamen ein')
            .form-group
                label.cols-sm-2.control-label(for='password') Passwort
                .cols-sm-10
                    .input-group
                        span.input-group-addon
                        input#password.form-control(type='password', name='password', placeholder='Gib dein Passwort ein')
            .form-group
                button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit') Login

