nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='/') Caprica
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
            li.nav-item
                if (currentPage === "dashboa1rd")
                    li.nav-item.active
                        a.nav-link(href="/") Dashboard und #{currentPage}
                else
                    li.nav-item
                        a.nav-link(href="/") Dashboard und #{currentPage}



